
  img
  {
    height: 600px;
    width: 100%;
    padding: 2em;
  }

.back{ 
   display: flex;
   font-size: medium;
   
}
.front{
  display: flex;
   font-size: medium;

}
.card{
  margin: 2em;
  font-size: larger;
  background: bisque;
  color: brown;
  border: solid;
  border-radius: 3%;
  
  
}
.card:hover{
  transition: all;
}


.navbar-brand{
  font-size: large;
  font-weight: 1000;
}
.h{
  color: aliceblue;
}
header{
  font-weight: bold;
  font-size: large;
}
.card-title{
  font-size: larger;
  color: black;
}
label{
  font-size: x-large;
  color: rgb(255, 154, 21);
}
.ss{
  color: bisque;
  font-size: large;
  font-family: Century 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
  color: rgb(255, 154, 21);
  font-family: Century 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}
.s{
  display: flex;
}
body{
  background-color: rgb(99, 90, 90);
}
h3{
  color: rgb(255, 154, 21);
}
th{
  color: rgb(255, 154, 21);
  padding: 2em;
}
tr{
  color: bisque;
  padding: 2em;
}
table{
  border: 3em;
  padding: 2em;
  font-size: large;
  margin: 2em;
  word-spacing: 1em;
}
small{
  color: bisque;
}
td{
  padding: 1em;
}